body{
  
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 500px;
    height: 300px;
    background-color: rgb(228, 252, 252);
    position: absolute;
    padding: 70px,40px;
    transform: translate(-90%,90%);
    left: 50%;
    right: 50%;
    border: 3px solid black;
    box-shadow: 5px 5px 10px black;
}

.container:hover{
    background-color:rgb(251, 242, 241) ;
    
}
.container h1{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px aqua;
}

.box{
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 30px;
    color: rgb(204, 6, 6);
}

label{
    text-shadow: -1px -1px 1px black;
}

input{
    width: 100%;
    height: 30px;
    border-color: rgb(250, 181, 192);
    border-radius: 5PX;
    font-size: 20px;
   
}
input:hover{
    border: 2px solid rgb(0, 166, 255);
    background-color: rgb(232, 253, 253);
}
input:focus{
    border: 3px solid black;
}